body {
  font-size: 15px;
  font-family: "Varela Round", AppleSystemUIFont, SansSerif, sans-serif;
}

.screen {
  width: 160px;
  cursor: pointer;
}

.panel {
  fill: #E6E6E6;
}

.screen.selected .panel,
.screen:hover .panel {
  fill: #c4deef;
}

.screen .label {
  display: none;
}

.screen:hover .label {
  display: block;
}
