<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>WorkFlowy MultiFlow</title>
  <link rel="stylesheet" href="../assets/vendor/spectre.min.css">
  <link rel="stylesheet" href="popup.css">
  <script src="../assets/vendor/mac-fix.js"></script>
  <script src="../assets/vendor/vue.js"></script>
</head>
<body>
<div id="app">
  <header class="header">
    <a class="header__icon" href="https://davestewart.co.uk/products/workflowy-multiflow" target="_blank">
      <img src="../assets/icons/icon-128.png">
    </a>
    <h3 class="header__text">WorkFlowy <strong>MultiFlow</strong></h3>
  </header>

  <main class="main hidden">
    <form class="form-horizontal form-horizontal">

      <!-- layout -->
      <div class="form-group">
        <div class="col-3">
          <label class="form-label">Layout</label>
        </div>
        <div class="col-9">
          <label class="form-radio">
            <input v-model="settings.layout" value="fit-screen" type="radio" name="layout"><i class="form-icon"></i> Fit
            to
            screen
          </label>
          <label class="form-radio">
            <input v-model="settings.layout" value="fit-content" type="radio" name="layout">
            <i class="form-icon"></i>
            Fit to content
          </label>
          <label class="form-radio">
            <input v-model="settings.layout" value="fit-left" type="radio" name="layout">
            <i class="form-icon"></i> Left-hand navigation
          </label>
        </div>
      </div>

      <!-- layout -->
      <div class="form-group ">
        <div class="col-3">
          <label class="form-label">Links</label>
        </div>
        <div class="col-9">
          <label class="form-radio">
            <input v-model="settings.links" value="in-place" type="radio" name="links">
            <i class="form-icon"></i> Open in place
          </label>
          <label class="form-radio">
            <input v-model="settings.links" value="on-right" type="radio" name="links">
            <i class="form-icon"></i> Open on right
          </label>
        </div>
      </div>

      <hr>

      <!-- layout -->
      <div class="form-group ">
        <div class="col-3">
          <label class="form-label">Sessions</label>
        </div>
        <div class="col-9">
          <!-- sessions -->
          <div v-if="savedSessions.length" class="sessions">
            <label v-for="(session, index) in savedSessions" class="form-radio">
              <input v-model="pageSession.id" :value="session.id" type="radio" name="session">
              <i class="form-icon"></i>
              <div class="session__text">
                <span class="session__title" @click="loadSession(index)">{{ session.title }}&nbsp;</span>
                <span class="session__delete" @click.stop="removeSession(index)">&times;</span>
              </div>
            </label>
          </div>

          <!-- save button -->
          <label class="sessionAction form-label">
            <div v-if="state.loading">
              <span class="sessionAction__status">
                Loading...
              </span>
            </div>
            <button v-else
                    class="sessionAction__button btn btn-link btn-sm"
                    :disabled="saveAction === 'none'"
                    @click.prevent="saveSession"
            >{{ saveText }}
            </button>
          </label>
        </div>
      </div>

      <div class="form-group mt-2">
        <div class="col-12 links">
          <a href="https://chrome.google.com/webstore/detail/workflowy-multiflow/khjdmjcmpolknpccmaaipmidphjokhdf" target="_blank">MultiFlow {{version }}</a>
          <a href="https://davestewart.co.uk/products/workflowy-multiflow" target="_blank">Help</a>
        </div>
      </div>

    </form>
  </main>
</div>
<script type="module" src="popup.js"></script>
</body>
</html>
