html {
  width: 100%;
  height: 100%;
}

body {
  &[data-mode="workflowy"] {
    #multiflow {
      display: none;
    }
  }

  &[data-mode="multiflow"] {
    padding: 0;
    transition: none;

    #multiflow {
      display: block;
    }

    > *:not(#multiflow) {
      display: none;
    }
  }

  &[data-layout="hug"] {
    overflow-x: scroll;
  }

  &[data-layout="hug"] iframe {
    min-width: 700px !important;
  }

  &[data-layout="nav"] iframe:first-child {
    max-width: 450px;
  }

  &[data-frames="1"] iframe {
    max-width: unset !important;
  }

  &[data-message] .message {

  }
}

#multiflow {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;

  main {
    display: flex;
    height: 100%;
  }

  iframe {
    flex: 1;
    margin: 0;
    height: 100%;
    border: none;
    outline: 1px solid #DDD;
  }

  .hidden {
    display: none;
  }
}

